@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;

color: black    ;
}

.register{

display: flex;
align-items: center;
background-image: linear-gradient(254deg, #f16e21, #8f8282);
height: 100vh;
}
.register-cont{

margin: auto;

display: flex;


}
.register-cont h1{

    text-align: center;
    font-size: 2.4rem;
    background: none;
}

.cont_2{

    display: flex;
    flex-direction: column;
    gap: 20px;
}
form {
  
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background: none;
}
#email, #password  {
    border-radius: 5px;
    font-size: 1.2vw;
    padding: 0 0 0 13px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    letter-spacing: 1px;

    height: 34px;
    /* width: 12rem; */
}
.form-group1{
    display: flex;
    flex-direction: column;
    background: none;
    gap: 10px;
}
.form-group2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: none;
}
#c-button, .click{
    background-color: #50a994;
    padding: 5px;
    color: #fff;
    display: block;
    font-size: 1.2em;
    letter-spacing: 1px;
    width: 22rem;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    cursor: pointer;
}
.box{
    gap: 15px;
    display: grid;
}
#first_button{
    background-image: linear-gradient(254deg, #f16e21, #8f8282);
    width: 22rem;
}

.test1{
    display: flex;
}
.register-cont {
    border-radius: 9px;
    padding: 63px;
    border: 2px solid;
    background: rgb(248, 244, 241);
    box-shadow: -6px 5px 0px black;
}
input{
    background: none;
}
.div1{
    background: none;
    display: flex;
    justify-content: space-between;
}

.last a{
    background: none;
    color: #f74704;
    font-weight: 1000;
    cursor: pointer;
}
.last{
    display: flex;
    justify-content: space-between;
    margin: 7px 0 0 0;
}